# Ignores everything, i.e. root files & root directories.
/*
/*/
*.ai
*.ini
*.svg

# But not these files...
!.gitignore
!readme.md

# And not these folders...
!/game_engine/
!/events/
!/exceptions/
!/constants/
!/move/