# Ignores everything, i.e. root files & root directories.
/*
/*/
/*/*
*.ai
*.ini
*.svg

# But not these files...
!.gitignore

# Main
!/game_engine/Main.java

# Game components
!/game_engine/MainController.java
!/game_engine/Board.java
!/game_engine/Point.java
!/game_engine/Checker.java
!/game_engine/Settings.java
!/game_engine/Stack.java
!/game_engine/StackInterface.java

# UI components
!/game_engine/InfoPanel.java
!/game_engine/CommmandPanel.java
!/game_engine/RollDiceButton.java

# Events
!/events/PointEvent.java
!/events/PointHandler.java
!/events/PointSelectedEvent.java

# Exceptions
!/exceptions/PointOverflowException.java
!/exceptions/TargetNotPointException.java


# And not these folders...
!/img/
!/img/dices/
!/img/board/
!/img/checkers/
!/game_engine/
!/events/
!/exceptions/